* {
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    overflow-wrap: break-word;
    text-align: center;
    align-items: center;
}

.main{
    animation: changeBackground 5s ease-in-out infinite alternate;
    min-height: 100vh;
     background-repeat:no-repeat;
     background-size: cover;
     background-position: center;
}

.img  {
    position: fixed;
     background-position: center;
     background-size: contain;
     
}

.img img  {
    width: 200px;
    max-width: 200px;
    display: flex;
    border-radius: 90px;
}

header h1 {
font-size: x-large ;
text-align: center;
font-weight: bolder;
position: fixed;
font-style: oblique;
justify-items: center;
   color: white;
   background-color: pink;
   
}

@keyframes changeBackground  {
    from { background-image: url(https://res.cloudinary.com/dx8dxnxoz/image/upload/v1770072085/WhatsApp_Image_esther1_-_Copy_rnqty5.jpg);}
    to { background-image:  url(https://res.cloudinary.com/dx8dxnxoz/image/upload/v1770121804/WhatsApp_Image_esther4_oerl6u.jpg)}
    
}

main h2{
text-align: center;
text-decoration: underline;
}

main ul {
    text-align: center;
font-size: normal;
font-style: italic;
font-weight: lighter;
color: white;

}

.highlight {
    text-align: center;
    color:white;
    align-items: center;
}

button {
    background-color: green;
    color: white;
    font-style: italic;
}

address{
    background-color: darkgrey;
}

address h4 {
    text-align: center;
    font-size: medium;
    font-weight: lighter;
    font-style: italic;
    text-decoration: underline;
}
.nav section:nth-of-type(2) p {
background-color: black;
   align-items: center;
   color: white;
   font-size: small;
   font-style: oblique;
   font-weight: lighter;
   text-align: center;
}



form {
font-size: small;
    text-align: center;
}
.ADMISSION section:nth-of-type(2) p {
    background-color: white;
}

.ADMISSION section:nth-of-type(1) p {
font-size: normal;
font-style: oblique;
text-align: center;
  color: white;

}


 .register section:nth-of-type(1) h1,p {
    text-align: center;
    font-style: oblique;
font-weight: lighter;
 }
   
 .container {
    color: white;
 }
 footer {
    color: white;
 }
 

 .dev {
    background-color: darkgreen;
    color: white;
    font-size: small;
    font-style: oblique;
    font-weight: lighter;
    text-align: center;
 }