body{
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    overflow-wrap: break-word;
    text-align: center;
    align-items: center;
    background-color: pink;
}
.chatBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.textBtn{
    position: flex;
    display: none;
     bottom: 100px;
    right: 20px;
}
.textBtn a{
 bottom: 20px;
    right: 20px;
}