body{
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    overflow-wrap: break-word;
    text-align: center;
    align-items: center;
}
.chatBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0px 2px 5px;
border: 1px solid;
    background: gold;
    border-radius: 20px;
    cursor: pointer;     /* PARENT CONTAINER*/
}

.textBtn{
border-radius: 20px;
box-shadow: 0px 2px 5px;
border: 1px solid;
position: fixed;
background: white;
     bottom: 20px;
    right: 80px;
    padding: 20px;       /* END OF SIDE CONTACT*/
}
 
.mode{
   position: fixed;
   border-radius: 20px;
   

}
body.mode{
    background-color: pink;
}

.hidden{
    justify-self:right;
      direction: rtl;
      margin: 10px;
      position: fixed;
      
}
.hiddentext{
   display: none;
}